<%

var sortArrow = function(field) {
    if (field !== sort) {
        return "";
    }
    return "&nbsp;&" + (desc ? "d" : "u") + "arr;";
};

-%>
<h1>Stjärn&shy;kryssare</h1>
<p>
    <a class="btn" href="/ships/create">Lägg till</a>
    <a class="btn" href="/ships/reset">Återställ databas</a>
</p>
<br>
<% if(ships.length) { -%>
<p>Visar <strong><%= ships.length %></strong> stjärn&shy;kryssare</p>
<div class="x-scroll">
    <table>
        <tr>
            <th><a href="?sort=registry&amp;desc=<%= +!desc %>">Reg.nr</a><%- sortArrow("registry") %></th>
            <th><a href="?sort=name&amp;desc=<%= +!desc %>">Namn</a><%- sortArrow("name") %></th>
            <th><a href="?sort=class&amp;desc=<%= +!desc %>">Klass</a><%- sortArrow("class") %></th>
            <th><a href="?sort=commissioned&amp;desc=<%= +!desc %>">I&nbsp;tjänst</a><%- sortArrow("commissioned") %></th>
            <th><a href="?sort=destroyed&amp;desc=<%= +!desc %>">Förstörd</a><%- sortArrow("destroyed") %></th>
            <th>Åtgärd</th>
        </tr>
        <%_ for(var ship of ships) { -%>
        <tr>
            <td><%= ship.registry %></td>
            <td><%= ship.name %></td>
            <td><%= ship["class"] %></td>
            <td><%= ship.commissioned %>–<%= ship.decommissioned || "" %></td>
            <td><%= (ship.destroyed ? "Ja" : "Nej") %></td>
            <td>
                <a href="/ships/edit/<%= ship._id %>">Redigera</a><br>
                <a href="/ships/delete/<%= ship._id %>">Radera</a>
            </td>
        </tr>
        <%_ } -%>
    </table>
</div>
<br>
<% } else { -%>
<p><em>Inga stjärn&shy;kryssare att visa</em></p>
<% } -%>
