<%

var sortQS = function(field) {
    return `?sort=${field}&amp;desc=` + (sort ? +!desc : 0) + `&amp;active=${active}`;
};

var sortArrow = function(field) {
    if (field !== sort) {
        return "";
    }
    return "&nbsp;&" + (desc ? "d" : "u") + "arr;";
};

-%>
<h1>Stjärn&shy;kryssare</h1>
<p>
    <a class="btn" href="/ships/create">Lägg till</a>
    <a class="btn" href="/ships/reset">Återställ databas</a>
</p>
<br>
<% if(ships.length) { -%>
<p>Visar <strong><%= ships.length %></strong> stjärn&shy;kryssare</p>
<form action="" method="get">
    <input type="hidden" name="sort" value="<%= sort %>">
    <input type="hidden" name="desc" value="<%= (sort ? desc : 0) %>">
    <p><em><label><input type="checkbox" name="active" value="1"<%= (active == 1 ? " checked" : "") %> onchange="this.form.submit()"> Dölj förstörda</label></em></p>
</form>
<div class="x-scroll">
    <table>
        <tr>
            <th><a href="<%- sortQS("registry") %>">Reg.nr</a><%- sortArrow("registry") %></th>
            <th><a href="<%- sortQS("name") %>">Namn</a><%- sortArrow("name") %></th>
            <th><a href="<%- sortQS("class") %>">Klass</a><%- sortArrow("class") %></th>
            <th><a href="<%- sortQS("commissioned") %>">I&nbsp;tjänst</a><%- sortArrow("commissioned") %></th>
            <th><a href="<%- sortQS("destroyed") %>">Förstörd</a><%- sortArrow("destroyed") %></th>
            <th>Åtgärd</th>
        </tr>
        <%_ for(var ship of ships) { -%>
        <tr>
            <td><%= ship.registry %></td>
            <td><%= ship.name %></td>
            <td><%= ship["class"] %></td>
            <td><%= ship.commissioned %>–<%= (ship.decommissioned !== null ? ship.decommissioned : "") %></td>
            <td><%= (ship.destroyed ? "Ja" : "Nej") %></td>
            <td>
                <a href="/ships/edit/<%= ship._id %>">Redigera</a><br>
                <a href="/ships/delete/<%= ship._id %>">Radera</a>
            </td>
        </tr>
        <%_ } -%>
    </table>
</div>
<br>
<% } else { -%>
<p><em>Inga stjärn&shy;kryssare att visa</em></p>
<% } -%>
