<h1>Stjärn&shy;kryssare</h1>
<p>
    <a class="btn" href="/ships/create">Lägg till</a>
    <a class="btn" href="/ships/reset">Återställ databas</a>
</p>
<br>
<% if(ships.length) { -%>
<p>Visar <strong><%= ships.length %></strong> stjärn&shy;kryssare</p>
<div class="x-scroll">
    <table>
        <tr><th>Reg.nr</th><th>Namn</th><th>Klass</th><th>I&nbsp;tjänst</th><th>Förstörd</th><th>Åtgärd</th></tr>
        <%_ for(var ship of ships) { -%>
        <tr>
            <td><%= ship.registry %></td>
            <td><%= ship.name %></td>
            <td><%= ship["class"] %></td>
            <td><%= ship.commissioned %>–<%= ship.decommissioned || "" %></td>
            <td><%= (ship.destroyed ? "Ja" : "Nej") %></td>
            <td>
                <a href="/ships/edit/<%= ship._id %>">Redigera</a><br>
                <a href="/ships/delete/<%= ship._id %>">Radera</a>
            </td>
        </tr>
        <%_ } -%>
    </table>
</div>
<% } else { -%>
<p><em>Inga stjärn&shy;kryssare att visa</em></p>
<% } -%>
